<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="pickup_area.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00109492132566676 -0.119955471088615 -0.00995422822274372"
        rpy="0 0 0" />
      <mass
        value="0.114608807415607" />
      <inertia
        ixx="4.06182675828254E-05"
        ixy="1.4233173192386E-08"
        ixz="1.00171510903958E-07"
        iyy="0.000177442907809676"
        iyz="-3.69170087690086E-06"
        izz="0.000142505456476641" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pickup_area.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pickup_area.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>