<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="save_area">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.75584290774767 -0.00633589656818148 2.50633842730977"
        rpy="0 0 0" />
      <mass
        value="4832.38898038469" />
      <inertia
        ixx="487.262155637017"
        ixy="-3.70248103518403E-12"
        ixz="1.88976473832086E-12"
        iyy="14460.7969790319"
        iyz="0.415679365082168"
        izz="14300.7991389132" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://save_area/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://save_area/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>